/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('img/1345029.png');
    background-size: 107% 57%
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 35px 0;
}

.logo {
    font-size: 24px;
    float: left;
}

.nav-links {
    float: right;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-image: url('gym.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #ff6f00;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* About Section Styles */
.about {
    background-color: #f4f4f4;
    text-align: center;
    padding: 100px 0;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

